header {
    background-color:#A6D3A0;
    padding: 1em;
    text-align: center;
    font-size: 1.6em;
    color: #247A00;
    border-bottom: 1px solid darkgrey;
    font-family: 'Sacramento', cursive;
    display : flex;
    justify-content: center;
}

.header-name__link {
    color: #247A00;
    text-decoration: none;
}